<launch>

    <!--
    <include file="$(find aiil_rosbot_demo)/launch/navigation.launch" />
    -->
    
    <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
        <rosparam file="$(find aiil_rosbot_demo)/config/exploration.yaml" command="load" />
    </node>

</launch>
