<?xml version="1.0" encoding="UTF-8"?>

<!-- 
   This is a common launch file for spawning the ROSbot. 
   This file is included by the world launch files.
   It launches the common package elements needed for most simulations.
-->
<launch>
   <!-- Ensure simulation time is set -->
   <param name="use_sim_time" value="true"/>

    <!-- Launch ROSbot Gazebo model from the rosbot_description package -->
    <include file="$(find rosbot_description)/launch/rosbot_gazebo.launch" />

    <!-- Launch Mapping and navigation stack using same configuration as real-robot -->
    <include file="$(find aiil_rosbot_demo)/launch/navigation.launch" />
</launch>
